Testing/
Usage/
Logs/
ErrorLogs/
History/
WAN_LAN_History/
DeviceUsers/
SophosTamperKeys/
CPUData/
MatchedDevices/
Config Files/*
Config Files/Archive
*.lnk
AzureTenants.xlsx

# Allow these config file templates
!Config Files/*.template
!Config Files/Template.ps1