Testing/
Usage/
Logs/
ErrorLogs/
History/
WAN_LAN_History/
DeviceUsers/
Config Files/*
Config Files/Archive
*.lnk

# Allow these config file templates
!Config Files/*.template
!Config Files/Template.ps1